doctype html
html.
  <head>
    <title>Dropzone Express.js File upload</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="static/dropzone/downloads/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/convertForm.css">
    <script type="text/javascript" src="static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascripts/uuid.js"></script>
    <script type="text/javascript" src="static/javascripts/options.js"></script>
    <script type="text/javascript" src="static/dropzone/downloads/dropzone.min.js"></script>
    <script type="text/javascript" src="static/javascripts/global.js"></script>

  </head>
  <body>
    <h1>pdfConverter - v0.0.1</h1>

    <div id="dropzone">
      <form action="" class="dropzone" id="my-dropzone"></form>
    </div>


    <form action="convert()" method="post" class="submitForm">

      <p>Page size:&nbsp;

        <input type="radio" name="pageSize" value="A3" onclick="pageSizeHandler(this)">A3&nbsp;
        <input type="radio" name="pageSize" value="A4" checked onclick="pageSizeHandler(this)">A4&nbsp;
        <input type="radio" name="pageSize" value="A5" onclick="pageSizeHandler(this)">A5&nbsp;
        <input type="radio" name="pageSize" id="custom" value="Custom"  onclick="pageSizeHandler(this)">&nbsp;
        <input type="number" id="pageWidth" size="2" value="210" max="100000" min="1" onclick=customPageSizeHandler()>x
        <input type="number" id="pageHeight" size="2" value="297" max="100000" min="1" onclickb=customPageSizeHandler()>&nbsp;mm
      </p>

      <br>

      <p>
        Rows:&nbsp;<input type="number" value="3" size="2" max="100" min="1" onchange="pageRepresentation_hand()">
        &nbsp;&nbsp;&nbsp;
        Columns:&nbsp;<input type="number" value="2" size="2" max="100" min="1" onchange="pageRepresentation_hand()">
      </p>

      <br>
      <p><div id='page'></div></p>

      <br>
      <p><input type="submit" value="Convert"></p>

    </form>


</body>
