doctype html
html.
  <head>
    <title>Advanced jpg/pdf to pdf converter</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="static/dropzone/downloads/css/dropzone.css">
    <script type="text/javascript" src="static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascripts/uuid.js"></script>
    <script type="text/javascript" src="static/dropzone/downloads/dropzone.min.js"></script>
    <script type="text/javascript" src="static/javascripts/global.js"></script>

  </head>
  <body>
    <h1>pdfConverter - v0.0.2</h1>
    <h5>Upload jpg or pdf files, choose pdf file page layout and merge them to pdf!</h5>
    <br>

    <div id="dropzone">
      <form action="" class="dropzone" id="my-dropzone"></form>
    </div>



    <form method="post" class="submitForm" onSubmit="begin_converting(); return false;">

      <p>Page size:&nbsp;

        <input type="radio" name="pageSize" value="A3" onclick="pageSizeHandler(this)">A3&nbsp;
        <input type="radio" name="pageSize" value="A4" checked onclick="pageSizeHandler(this)">A4&nbsp;
        <input type="radio" name="pageSize" value="A5" onclick="pageSizeHandler(this)">A5&nbsp;
        <input type="radio" name="pageSize" id="custom" value="Custom"  onclick="pageSizeHandler(this)">&nbsp;
        <input type="number" id="pageWidth" size="2" value="210" max="100000" min="1" onclick=customPageSizeHandler()>x
        <input type="number" id="pageHeight" size="2" value="297" max="100000" min="1" onclick=customPageSizeHandler()>&nbsp;mm
      </p>

      <p>Margins:&nbsp;
        <input type="number" id="margins" size="2" value="20" max="100" min="1" >&nbsp;mm
      </p>


      <p>Pages per page:&nbsp;
        <input type="number" id="numOfPages" size="2" value="1" max="100" min="1" >
      </p>
      <p>

      <!--
      <p>
        Rows:&nbsp;<input type="number" id="rows" value="3" size="2" max="100" min="1" onchange="pageRepresentation_hand()">
        &nbsp;&nbsp;&nbsp;
        Columns:&nbsp;<input type="number" id="columns" value="2" size="2" max="100" min="1" onchange="pageRepresentation_hand()">
      </p>
      -->

      <br>

      <p>
      <table>
        <tr>
          <td><input type="radio" id="Layout1" name="pageLayout" value="" checked><br><img
          <img src="/static/images/midlevertical.png" class="pageLayout">
          </td>
          <td><input type="radio" id="Layout2" name="pageLayout" value="" ><br><img
          <img src="/static/images/leftVertical.png" class="pageLayout">
          </td>
          <td><input type="radio" id="Layout3" name="pageLayout" value="" ><br>
          <img src="/static/images/rightVertical.png" class="pageLayout">
          </td>
          <td><input type="radio" id="Layout4" name="pageLayout" value="" ><br>
          <img src="/static/images/topHorizontal.png" class="pageLayout">
          </td>
          <td><input type="radio" id="Layout5" name="pageLayout" value="" ><br>
          <img <img src="/static/images/bottonHorizontal.png" class="pageLayout">
          </td>
          <td><input type="radio" id="Layout6" name="pageLayout" value="" ><br>
          <img <img src="/static/images/3rows.png" class="pageLayout">
          </td>
        </tr>
      </table>


      </p>

      <br>

      <p><div id='drawDiv'></div></
      <br>
      <p><input type="submit" value="Convert"></p>

    </form>


</body>
