.mPageTable {
    /* Source: http://www.sitepoint.com/pure-css3-paper-curls/ */
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    /* TODO: create my own */
}

.normalmPage {
    border: 1px solid black;
    z-index:20;
}

.submitForm {
  margin: 20px;
  pposition:center;
  width-min:400px;


}
